 nav ul {
    display: flex;
    align-items: center;
}

 nav ul li a {
    padding: 11px 6px;
    transition: .2s;
    display: inline-block;
    margin: 20px;
    color: #52617D;
    transition: 0.1s ease-in-out;
 }

nav ul li a:hover {
    transform: scale(1.1);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

nav ul li a.botao {
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;
}

/* RESPONSIVE */
.menu {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

nav label {
    display: flex;
    flex-direction: column;
}

.hamburguer {
    background-color: #fff;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background-color: #fff;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

nav input {
    display: none;
}

nav input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

nav input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

nav input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

@media (max-width: 960px) {
    .menu {
        display: block;
    }

    nav ul {
        display: none;
    }

    input:checked ~ ul {
        display: block;
    }

    nav {
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
    }

    nav ul {
        width: 200px;
        background-color: #000;
        opacity: 0.9;
        font-size: 20px;
    }

    nav ul a {
        text-align: center;
        padding: 8px;
        display: block;
    }
}