@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #0A192F, #4F6272, #0a0f20);

    font-family: "Releway", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-style: normal;
    font-size: 22px;
}

header {
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-image: url('../images/backgroundof.jpg');
    background: linear-gradient(rgba);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100vh;
    
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-weight: 400;
    font-size: 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}


.logo .img-logo {
    width: 150px;
    height: 150px;   
}


main {
    flex: 1;
}

/* QUEM SOMOS */

section.home {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: center;
    margin-right: 150px;
    height: 50%;
    color: #fff;
    margin-top: 100px;
    
}

.home .slogan{
    font-style: italic;
    font-size: 40px;
    
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #fff;
    animation: blink 0.7s infinite;
  }
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

.btn-juntar {
    font-size: 28px;
    max-width: 250px;
    padding: 18px;
    border-radius: 8px;color: #fff;
    background-color: transparent;
    border-color: #fff;
    align-self: center;
    transition: 0.3s;
    margin-top: 200px;
}

.btn-juntar:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px #1E90FF;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

 /* PROJETOS */

 .projetos {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
}

.projetos .titulo {
    text-align: center;
    padding: 60px 0;
    font-size: 36px;
    font-weight: 600;
    color:#fff;
}

.projetos .container-projetos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1148px;
    align-self: center;
    margin-bottom: 20px;
    justify-content: center;
}

.projetos .projeto {
    max-width: 260px;
    max-height: 500px;
    position: relative;
    display: none;
}

.projetos .projeto.ativo {
    display: block;
}

.projetos .projeto img {
    width: 100%;
    height: 100%;
}

.projetos .projeto h3 {
    background-color: #040203;
    color: #fff;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    opacity: 0.9;

}

.projetos .projeto .informacoes-projeto {
    display: flex;
    flex-direction: column;
    background-color: #040203;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 20px;
    gap: 15px;
}

.projetos .container-projetos .projeto:hover .informacoes-projeto {
    opacity: 0.7;
    background-color: #000000;
}

.projetos .btn-mostrar-projetos {
    background: none;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    width: 180px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover {
    background-color: #0A192F;
    color: #fff;
    transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover {
    display: none;
}

.projetos, .colaboradores, .parceiros {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.4);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* COLABORADORES */

section.colaboradores {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 800px;
    padding: 30px;
}

.colaboradores h2 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    
}

.lista-colaboradores {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    
}

.lista-colaboradores p{
    color: #fff;
    font-weight: 400;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    transition-duration: 0.3s;
}

.avatar:hover {
    transform: scale(1.1);
}


/* PARCEIROS */

section.parceiros {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
 }

 .titulo-parceiros {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
 }

 .lista-empresas {
    display: flex;
    flex-direction: row;
    gap: 50px;
 }

 .lista-empresas h3 {
    color: #52617d;
 }

 .empresa1 {
    display: flex;
    background-color: #ffffff;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
 }

 .empresa1:hover {
    transform: scale(1.1);
 }

 .empresa2 {
    display: flex;
    background-color: #ffffff;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
 }

 .empresa2:hover {
    transform: scale(1.1);
 }


 .informacoes-parceiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
 }

 .logo-parceiro {
    width: 170px;
    border-radius: 100px;
 }

 /* FALE CONOSCO */

 section.contato {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 100px;
    color: #666;
 }

 .container {
    display: flex;
    width: 90%;
    padding: 40px 0;
    justify-content: center;
}


.mapa-container {
    width: 50%;
    margin: 0 auto;
}

.mapa-container h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #52617d;
}

.contact-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
    width: 40%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn {
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-color: #1b1c2c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
}

button.btn:hover {
    background-color: #52617d;
}

footer {
    position: relative;
    overflow: hidden;
    color: #fff;
    padding: 60px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

footer::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/footer.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* ajusta aqui a opacidade do fundo */
    z-index: -1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.footer-info, .footer-social {
    min-width: 250px;
    margin: 10px 20px;
    
}

.footer-info h3,
.footer-social h3 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-info p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .icon {
    width: 30px;
    height: 30px;
}

footer .social-link {
    width: 30px;
    margin-right: 15px;
    transition: transform 0.3s;
}

footer .social-link:hover {
    transform: scale(1.2);
}

footer .text-footer {
    font-size: 18px;
    color: #ccc;
    margin-top: 20px;
}

