@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body {
    background: linear-gradient(to bottom, #0A192F, #4F6272, #0a0f20);

    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}

header {
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-image: url('../images/backgroundof.jpg');
    background: linear-gradient(rgba);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100vh;
    
}

section {
    scroll-margin-top: 110px;
}


#home,
#projetos,
#colaboradores,
#parceiros,
#faleconosco {
  scroll-margin-top: 110px;
}



.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    font-weight: 400;
    font-size: 50px;
    background: rgba(10, 25, 47, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}


.logo {
    display: flex;
    align-items: center;
}


.logo .img-logo {
    max-width: 150px;
    height: auto;   
}


main {
    flex: 1;
}

#navbar a {
    color: white; /* Cor inicial */
    transition: color 0.7s ease, background-color 0.7s ease; /* Transição suave */
    text-decoration: none;
    margin: 0 15px;
}

/* Cor ao passar o mouse */
#navbar a:hover {
    color: #93a2ba; /* Cor branca ao passar o mouse */
}

/* Estilo da navbar após rolar a página */
#navbar.scrolled {
    background-color: #000; /* Fundo escuro */
    transition: background-color 0.5s ease; /* Transição suave para o fundo */
}

#navbar.scrolled a {
    color: white; 
}

#navbar.scrolled a:hover {
    color: white; 
}

/* QUEM SOMOS */

section.home {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: center;
    margin-right: 150px;
    height: 50%;
    color: #fff;
    margin-top: 100px;
    scroll-margin-top: 110px;
    
}

.home .slogan{
    font-style: italic;
    font-size: 40px;
    
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #fff;
    animation: blink 0.7s infinite;
  }
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

.btn-juntar {
    font-size: 28px;
    max-width: 250px;
    padding: 18px;
    border-radius: 8px;color: #fff;
    background-color: transparent;
    border-color: #fff;
    align-self: center;
    transition: 0.3s;
    margin-top: 200px;
    margin-bottom: 20px;
}

.btn-juntar:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px #1E90FF;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

 /* PROJETOS */

 .projetos {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    scroll-margin-top: 110px;
}

.projetos .titulo {
    text-align: center;
    padding: 60px 0;
    font-size: 36px;
    font-weight: 600;
    color:#fff;
}

.projetos .container-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projetos .projeto {
   width: 300px;
   margin: 10px;
}

.projetos .projeto.ativo {
    display: block;
}

.projetos .projeto img {
    width: 100%;
    height: 100%;
}

.projetos .projeto h3 {
    background-color: #040203;
    color: #fff;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    opacity: 0.9;

}

.projetos .projeto .informacoes-projeto {
    display: flex;
    flex-direction: column;
    background-color: #040203;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 20px;
    gap: 15px;
}

.projetos .container-projetos .projeto:hover .informacoes-projeto {
    opacity: 0.7;
    background-color: #000000;
}

.projetos .btn-mostrar-projetos {
    background: none;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    width: 180px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover {
    background-color: #0A192F;
    color: #fff;
    transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover {
    display: none;
}

.projetos, .colaboradores, .parceiros {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);

}

@keyframes autoShowAnimation {
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.4);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


.colaboradores {
    padding: 4rem 2rem;
    text-align: center;
    scroll-margin-top: 110px;
    
  }
  .h3{
    color: #0055aa;
  }
  
  .colaboradores h2 {
    font-size: 40px;
    font-weight: 600;
    padding: 20px;
    color:  #ffffff;
  }
  

.perfil {
    width: 220px; 
    background-color:white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 15px;
    transition: transform 0.3s;
}
.perfil:hover {
    transform: scale(1.05);
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 15%;
    object-fit: cover;
    margin-bottom: 10px;
    
}

.carrosel-container {
  position: relative;
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  width: 100%;
}
.carrosel-container .seta{
    position: absolute;
    top: 60%; 
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: background 0.3s;
}



.carrosel-container .seta:hover {
    background-color: rgba(0,0,0,0.8);
}

.carrosel-container .esquerda {
    left: 10px;
}

.carrosel-container .direita {
    right: 10px; 
}


.carrosel{
    overflow: hidden;
    width: 100%;
}
.lista-colaboradores {
  display: flex;
  gap: 20px;
  transition: transform 0.3s;
  padding: 40px 0 ;
  margin: 0;
  list-style: none;
  width: max-content;
 

}


 .colaborador {
  min-width: 220px;
  max-width: 250px;
  flex: 0 0 auto; 
  
  text-align: center;
  color:  #0055aa;; 
  padding: 15px;
  border-radius: 15px;
  position: relative;
    width: 220;
  
}

  .info-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3d5068ab;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
  }
  

  .perfil:hover .info-hover {
    opacity: 1;
  }
  
  .info-hover h3 {
    margin: 10px 0;
    
  }
  
  .info-hover p {
    font-size: 15px;
    margin-bottom: 10px;
    background-color: #ffffff00;
    color: #ededed;
  }
  
  .icons {
    display: flex;
    gap: 5px;
  }
  
  .icons a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    filter: invert(1);

  }
  
  .icons a:hover img {
    transform: scale(1.2);
  }
  


section.parceiros {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    scroll-margin-top: 110px;
 }

 .titulo-parceiros {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
 }

 .lista-empresas {
    display: flex;
    flex-direction: row;
    gap: 80px;
 }

 .lista-empresas h3 {
    color: #52617d;
 }

 .empresa1 {
    display: flex;
    background-color: #f6f6f6;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
 }

 .empresa1:hover {
    transform: scale(1.1);
 }

 .empresa2 {
    display: flex;
    background-color: #f6f6f6;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
 }

 .empresa2 h3{
   gap: 30px;
   margin-top: 30px;
 }

 .empresa2:hover {
    transform: scale(1.1);
 }


 .informacoes-parceiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
 }

 .logo-parceiro {
    width: 250px;
 }

 

 section.contato {
    display: flex;
    flex-direction: column;
    height: 500px;
    
    background-color: #ffffff;
    margin-top: 100px;
    color: #666;
    scroll-margin-top: 110px;
    left: -50px;
     
    
 }

 .container {
    display: flex;
    width: 90%;
    padding: 40px 0;
    justify-content: center;
}


.mapa-container {
    width: 50%;
    margin: 0 auto;
    margin-left: 40px;
    align-items: center;
    margin-bottom: -45px;
    margin-top: -25px;
    height: 10px;
}

.mapa-container h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #52617d;
}

.contact-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
    height: 40%;
    width: 40%;
     margin-bottom: 500px;

    
}
#form-contato{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    max-width: 700px;
    margin:20px auto;
}
.projetos .projeto {
    display: none;
}
.projetos .projeto.ativo {
    display: block;
}


.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-group label{
    font-weight: 400;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn {
    display: flex;
    width: 50%;
    height: 50px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-color: #1b1c2c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.5s;

}

button.btn:hover {
    background-color: #52617d;
}
.btn-mostrar-projetos {
    background-color: #1E90FF;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 40px auto 0;
    display: block;
    box-shadow: 0 4px 15px rgba(30, 144, 255, 0.3);
}

.btn-mostrar-projetos:hover {
    background-color: #63b3ed;
    box-shadow: 0 4px 15px rgba(30, 144, 255, 0.5);
    transform: scale(1.05);
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  color: #333;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

footer {
    position: relative;
    overflow: hidden;
    color: #fff;
     height: 180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    
    
}

footer::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/footer.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* ajusta aqui a opacidade do fundo */
    z-index: -1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    max-width: 1200px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.footer-info, .footer-social {
    min-width: 250px;
    margin: 10px 20px;
    
}

.footer-info h3,
.footer-social h3 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-info p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .icon {
    width: 30px;
    height: 30px;
}

footer .social-link {
    width: 40px;
    margin-right: 15px;
    transition: transform 0.3s;
}

footer .social-link:hover {
    transform: scale(1.2);
}

footer .text-footer {
    font-size: 18px;
    color: #ccc;
    margin-top: 20px;
}

